.hidden {
  display: none;
}
main.login a {
  padding: 5px 5px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.1em;
}

main.login a img {
  height: 40px;
}


.header {
  height: 60px;
}
main.app {
  display:flex;
  flex-direction: row;
  height: calc(100vh - 60px);
  width: 100vw;
}
main.app .side-bar {
  padding: 10px;
  background-color: #ddddff;
  height: 100%;
  flex-shrink: 0;
}
main.app .chat {
  background-color: #fefefe;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 0 10px;
}
main.app .chat ul {
  overflow: scroll;
}
main.app .chat ul p {
  margin: 0;
}
main.app .chat div > *:not(.message-body) {
  color: #999;
}
main.app .chat-messages {
  margin: 0;
}
main.app .chat-messages > :last-child {
  margin-bottom: 20px;
}
main.app .chat-messages li {
  display: flex;
  flex-direction: row;
}
main.app .chat-messages .image-container {
  width: 40px;
  height: 0;
  margin-right: 10px;
  flex-shrink: 0;
  display: flex;
}
.image-container .img {
  flex-grow: 1;
  width: 40px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
}
